{% extends 'base.html' %}

{% block title %}SKM - PSS explorer{% endblock %}

{% block page_title %}PSS explorer{% endblock %}

{% block description %}
<p>
Use the search-box to find entities (including reactions) in PSS and add them to the query box. <br>
<button type="button" class="py-0  btn btn-outline-info btn-xs inline" data-toggle="popover" data-bs-content='
   <div style="width:100%;">

    <p  class="card-text">
    <b>Clicking <em>extract subgraph</em>:</b> If the query contains only one node a neighbourhood is returned. Otherwise, the undirected shortest paths between all pairs of nodes are merged and returned.
    </p>

   <p><b>The result:</b> Reactions (and interactions) in PSS are represented as nodes, the participants and the reaction itself, and edges (or arcs) connecting participants to the reaction in an informational way. <p>

   <p> For example, the following reaction  (A + B &rarr; C, catalysed by e):
      <div style="width:400; height:135">
        <img  width=400px; height=135px"  src="https://skm.nib.si/static/home/images/basic-reaction-biology-labelled.png"/>
      </div>
    Is represented in PSS as:
      <div style="width:400px; height:200px;">
        <img width=400 height=200 src="https://skm.nib.si/static/home/images/basic-reaction-labelled.png"/>
      </div>
    </p>

   <p>For more information, see <a href="https://skm.nib.si/documentation/pss-db#reaction-types" target="_blank">SKM Documentation &#167; Reactions</a>. </p>

   <p> Note that the shortest path does not take into account the direction of the edges and does not extract the complete reactions.
  </div>' data-bs-html="true" title="Help">
  More
</button></p>
{% endblock %}

{% block search_interface %}

  <div class="mb-3">
    <div id="searchSelectWrapper">
        <label for="queryInput" class="form-label">Search PSS</label>
    </div>
    <div id="myModal">
        <select id="queryInput" class="select_items"></select>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-4 me-0">
        <button type="button" class="btn btn-outline-primary float-end" id="add2selected">add to query</button>
      </div>
    </div>
  </div>

  <label for="queryList" class="form-label">Your query</label>
  <div class="list-group" id="queryList"></div>


    <div class="container mb-3 me-0 pe-0">
      <div class="row me-0">
          <button type="button" class="btn btn-primary" id="searchButton">search</button>
      </div>
    </div>

{% endblock %}
