{% extends 'base.html' %}

{% block title %}PSS Explorer{% endblock %}

{% block page_title %}PSS Explorer{% endblock %}

{% block description %}
{% endblock %}

{% block search_interface %}
<div id="searchSelectWrapper">
</div>
<div class="input-group mb-3">
  <select id="queryInput" class="select_items form-select" placeholder="Search PSS nodes" aria-label="Search PSS nodes" aria-describedby="add2selected" ></select>
  <button class="btn btn-outline-secondary p-1" type="button" id="add2selected">Add</button>
</div>

  <label for="queryList" class="form-label mb-0 pb-0"><h6 class="mb-0 pb-0">Query:</h4></label>
    <div id="queryList"class="list-group flex-grow-1" style="overflow-y: scroll;"></div>


<div id="push_down" class="flex-column w-100 align-self-end">
  <div class="row px-3">
    <button type="button" class="btn btn-primary p-1 " id="searchButton">Search!</button>
  </div>
</div>

{% endblock %}

